
<div class="row">

  <div class="col-12">
    <nb-card>
      <filtro [loaded]="loaded" (filtrar)="filtrar($event)" ></filtro>
    </nb-card>  
  </div>

  <div class="col-12">
    <nb-card>
      <nb-card-header>Quantidade Alertas Gerados</nb-card-header>

      <nb-card-body>
        <d3-bar-chart [data]=data.quantidadeAlertasGerados *ngIf="loaded"></d3-bar-chart>
      </nb-card-body>
    
    </nb-card>
  </div>

</div>

<div class="row">

  <div class="col-12">
    <nb-card>
      <nb-card-header>Quantidade Alertas Primeira Passagem</nb-card-header>

      <nb-card-body>
        <d3-bar-chart [data]=data.quantidadePrimeiraPassagem *ngIf="loaded"></d3-bar-chart>
      </nb-card-body>
    
    </nb-card>
  </div>

</div>


<div class="row">

  <div class="col-12">
    <nb-card>
      <nb-card-header>Quantidade enviados</nb-card-header>

      <nb-card-body>
        <d3-bar-chart [data]=data.quantidadeEnviados *ngIf="loaded"></d3-bar-chart>
      </nb-card-body>
    
    </nb-card>
  </div>

</div>