
<div class="row">

  <div class="col-12">
    <nb-card>
      <nb-card-header>Quantidade de Registros de passagens - 15/08/2017 15:57</nb-card-header>

      <nb-card-body>
        <bar-echart></bar-echart>
      </nb-card-body>
    
    </nb-card>
  </div>

  <div class="col-12">
    <nb-card>
      <nb-card-header>Quantidade de Registros na Blacklist - 18/08/2017</nb-card-header>

      <nb-card-body>
        <bar-echart></bar-echart>
      </nb-card-body>
    
    </nb-card>
  </div>

  <div class="col-12">
    <nb-card>
      <nb-card-header>Quantidade de Registros na Blacklist - 18/08/2017</nb-card-header>

      <nb-card-body>
        <bar-echart></bar-echart>
      </nb-card-body>
    
    </nb-card>
  </div>

</div>