<div class="row">
  <div class="col" >
    <div class="float-left" *ngIf="loaded">
      <button nbButton ghost (click)="showLegenda()" style="padding: 0;" type="button">Legenda</button>
    </div>

    <div class="float-right">
      <b>Antenas exibidas: {{numAtenas}} </b>
    </div>

  </div>
</div>

<nb-card>
  <nb-card-body *ngIf="loaded">

    <google-map 
      [center]="{lat: -16.6761553, lng: -49.2886361}" 
      [zoom]="10" 
      width="100%" height="85vh" >
      
      <map-marker 
        [position]="{lat: geo.element.latitude, lng: geo.element.longitude}"
        [options]="{icon: geo.element.icon }"
        (mapClick)="showDialog(geo.element)"
        *ngFor="let geo of coordenadas"
      >

      </map-marker>
    </google-map>
    
  </nb-card-body>
</nb-card>
