<button nbButton ghost (click)="showLegenda()" style="padding: 0;" type="button" >Legenda</button>
 
<nb-card>
  <nb-card-body>

    <google-map 
      *ngIf="loaded"
      [center]="{lat: data?.center?.lat, lng: data?.center?.lng}" 
      [zoom]="8" 
      width="100%" height="85vh" >
      
      <map-marker 
        [position]="{lat: point?.lat, lng: point?.lng}"
        [clickable]="true"
        [label]='point?.label'
        (mapMouseover)="showDialog(point)"
        [options]="{icon: point.tipo }"
        *ngFor="let point of data.points"
      >
      </map-marker>
    </google-map>
    
  </nb-card-body>
</nb-card>