<nb-card>
  <nb-card-header>
    Regras
  </nb-card-header>
</nb-card>


<nb-card>
  <nb-card-body>
    <div class="col pt-4 pb-4">
      <nb-accordion>
        <nb-accordion-item>
        
          <nb-accordion-item-header>
            Filtros 
          </nb-accordion-item-header>

          <nb-accordion-item-body>
            <button class="control-button" nbButton type="submit">
              Buscar
            </button>
          </nb-accordion-item-body>
        
        </nb-accordion-item>
      </nb-accordion>
    </div>

    <div class="col">
   
    <table class="table table-hover table-striped table-bordered">
      <thead class="thead-light">
        
        <tr>
          <th class="col-1">#</th>
          <th class="col-4">Nome</th>
          <th class="col-1">Tipo</th>
          <th colspan="2" class="col-3 text-center">Data</th>
          <th class="col-1">Ativo</th>
          <th colspan="3" class="col-2 text-center">Ações</th>
        </tr>

        <tr>
          <th colspan="6"></th>
          <th colspan="3" class="col-2 text-center">
            <button nbButton fullWidth outline status="success"  (click)="add()"> 
          <nb-icon icon="plus-circle-outline"></nb-icon> </button></th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let item of data" >
          <td class="align-middle">{{item?.id}}</td>
          <td class="align-middle">{{item?.nome}}</td>
          <td class="align-middle">{{item?.tipo}}</td>
          <td class="align-middle">{{item?.data?.inicio}}</td>
          <td class="align-middle">{{item?.data?.final}}</td>
          <td class="align-middle">
            <nb-checkbox [checked]="item?.status" disabled></nb-checkbox>
          </td>
          <td><button nbButton fullWidth outline status="warning" (click)="edit(item)"> <nb-icon icon="edit-outline"></nb-icon> </button></td>
          <td><button nbButton fullWidth outline status="primary" (click)="duplicate(item)"> <nb-icon icon="copy-outline"></nb-icon> </button></td>
          <td><button nbButton fullWidth outline status="danger" (click)="delete(item)"> <nb-icon icon="trash-2-outline"></nb-icon> </button></td>
        </tr>

      </tbody>
    </table>
     </div>
  </nb-card-body>
</nb-card>
