<nb-card>
  <nb-card-header class="text-center">Quantidade registros na blacklist</nb-card-header>

  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Filtros
        </nb-accordion-item-header>
        <nb-accordion-item-body>
        
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate [nbSpinner]="loading">
            <div class="full-name-inputs">
              <input type="text" nbInput fullWidth placeholder="Inicio" [formControl]="inicio"  [status]='getStatus(inicio)' [nbDatepicker]="inicioPicker">
              <nb-datepicker #inicioPicker>  </nb-datepicker>

              <input type="text" nbInput fullWidth placeholder="Final" [formControl]="final"  [status]='getStatus(final)' [nbDatepicker]="finalPicker">
              <nb-datepicker #finalPicker>  </nb-datepicker>
              <button class="control-button" nbButton type="submit">
                Buscar
              </button>
            </div>
        </form>
          
        </nb-accordion-item-body>
      </nb-accordion-item>
      </nb-accordion>
  </nb-card-body>

  <nb-card-body>
    <bar-echart [data]="data"></bar-echart>
  </nb-card-body>

</nb-card>