<nb-card>

  <nb-card-header class="text-center">
    Quantidade de Contribuintes Cadastrados
  </nb-card-header>

  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Filtros
        </nb-accordion-item-header>
        <nb-accordion-item-body>
        
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Inicio">
            <input type="text" nbInput fullWidth placeholder="Final">
            <button class="control-button" nbButton>
              Buscar
            </button>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>
      </nb-accordion>
  </nb-card-body>

  <nb-card-body>
    <custom-pie-chart></custom-pie-chart>
  </nb-card-body>

</nb-card>