
<h4 class="text-center text-primary">
  Informações
</h4>

<h6 class="text-center text-primary">
  Legenda de Cores
</h6>

<table class="table table-hover text-primary">

  <tbody>
    <tr>
      <td class="align-middle"> <img src="assets/icon/circle/red-circle.svg" class="float-end"/></td>
      <td class="align-middle"><b>Veiculo suspeito</b></td>
    </tr>
    
    <tr>
      <td class="align-middle"><img src="assets/icon/circle/black-circle.svg"/></td>
      <td class="align-middle"><b>Mercadoria Irregular</b></td>
    </tr>

    <tr>
      <td class="align-middle"><img src="assets/icon/circle/yellow-circle.svg"/></td>
      <td class="align-middle"><b>Supeito + Mercadoria Irregular</b></td>
    </tr>


  </tbody>
</table>


<h6 class="text-center text-primary">
  Icones de mapas
</h6>



<table class="table table-hover text-primary ">

  <tbody>
    <tr>
      <td class="align-middle"> <img src="assets/icon/circle/red-circle.svg" class="float-end"/></td>
      <td class="align-middle"><b> Antena ANTT</b></td>
    </tr>
    
    <tr>
      <td class="align-middle"><img src="assets/icon/circle/black-circle.svg"/></td>
      <td class="align-middle"><b> Antena AGETOP</b></td>
    </tr>

    <tr>
      <td class="align-middle"><img src="assets/icon/circle/yellow-circle.svg"/></td>
      <td class="align-middle"><b>Fiscal</b></td>
    </tr>

  </tbody>
</table>

