<nb-card>
  <nb-card-header>
    Adicionar Regra
  </nb-card-header>
</nb-card>

<nb-card>
  <nb-card-body>

    <div class="row pb-3">
      <div class="col-4">
        <label class="label">Nome:</label>
        <input type="text" nbInput fullWidth placeholder="Nome">
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-8">
        <label class="label">Descrição:</label>
        <input type="text" nbInput fullWidth placeholder="Descrição">
      </div>

      <div class="col-4">
        <label class="label">Tipo:</label>
        <nb-select fullWidth selected="1" placeholder="Tipo">
          <nb-option value="1">Selecione</nb-option>
          <nb-option value="1">MDFE</nb-option>
          <nb-option value="2">NFE</nb-option>
          <nb-option value="2">CTE</nb-option>
        </nb-select>
      </div>
    </div>


    <div class="row pb-3">
      <div class="col-3">
        <label class="label">Importância:</label>
        <nb-select fullWidth selected="1" placeholder="Tipo">
          <nb-option value="1">1</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="5">5</nb-option>
          <nb-option value="6">6</nb-option>
          <nb-option value="7">7</nb-option>
          <nb-option value="8">8</nb-option>
          <nb-option value="9">9</nb-option>
          <nb-option value="10">10</nb-option>
        </nb-select>
      </div>
    
      <div class="col-3">
        <label class="label">Menor esforço:</label>
        <nb-select fullWidth selected="1" placeholder="Tipo">
          <nb-option value="1">1</nb-option>
          <nb-option value="2">2</nb-option>
          <nb-option value="3">3</nb-option>
          <nb-option value="4">4</nb-option>
          <nb-option value="5">5</nb-option>
          <nb-option value="6">6</nb-option>
          <nb-option value="7">7</nb-option>
          <nb-option value="8">8</nb-option>
          <nb-option value="9">9</nb-option>
          <nb-option value="10">10</nb-option>
        </nb-select>
      </div>

      <div class="col-3">
        <label class="label">Data de validade incio:</label>
        <input nbInput fullWidth [nbDatepicker]="inicioPicker">
        <nb-datepicker #inicioPicker></nb-datepicker>
      </div>
      
      <div class="col-3">
        <label class="label">Data de validade final:</label>
        <input nbInput fullWidth [nbDatepicker]="finalPicker">
        <nb-datepicker #finalPicker></nb-datepicker>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col-4">
        <label class="label">Produto:</label>
        <input type="text" nbInput fullWidth placeholder="Produto">
      </div>
      
      <div class="col-4">
        <label class="label">Operador:</label>
        <nb-select fullWidth selected="1" placeholder="Tipo" [(selected)]="operador" [compareWith]="compareById">
          <nb-option *ngFor="let op of sqlOperations" [value]=op>{{op.title}}</nb-option>
        </nb-select>
      </div>

      <div class="col-4">
        <label class="label">Valor:</label>
        <input type="text" nbInput fullWidth placeholder="Valor">
      </div>
    </div>
    
    <hr/>

    <div class="row pb-3" >
      <div class="offset-8 col-4">
        <label class="label">Confirmar:</label>
        <button nbButton outline fullWidth status="primary">Confirmar</button>
      </div>
    </div>

  </nb-card-body>
</nb-card>
