<nb-card>
  <nb-card-header>
    Adicionar Regra
  </nb-card-header>
</nb-card>

<nb-card accent="success">
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate >
      
      <div class="row pb-3">
        <div class="col-8">
          <label class="label">Nome:*</label>
          <input type="text" [formControl]="nome" [status]='getStatus(nome)' nbInput fullWidth placeholder="Nome">
        </div>

        
        <div class="col-4">
          <label class="label">Tipo:*</label>
          <nb-select fullWidth  [formControl]="tipo" [status]='getStatus(tipo)' placeholder="Tipo">
            <nb-option [value]='null'>Selecione</nb-option>
            <nb-option [value]="'MDFE'">MDFE</nb-option>
            <nb-option [value]="'NFE'">NFE</nb-option>
            <nb-option [value]="'CTE'">CTE</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-12">
          <label class="label">Descrição:*</label>
          <textarea type="text" [formControl]="descricao" [status]='getStatus(descricao)' nbInput fullWidth placeholder="Descrição"></textarea>
        </div>
      </div>


      <div class="row pb-3">
        <div class="col-3">
          <label class="label">Importância:*</label>
          <nb-select fullWidth placeholder="Tipo" [formControl]="importancia" [status]='getStatus(importancia)' >
            <nb-option value="1">1</nb-option>
            <nb-option value="2">2</nb-option>
            <nb-option value="3">3</nb-option>
            <nb-option value="4">4</nb-option>
            <nb-option value="5">5</nb-option>
            <nb-option value="6">6</nb-option>
            <nb-option value="7">7</nb-option>
            <nb-option value="8">8</nb-option>
            <nb-option value="9">9</nb-option>
            <nb-option value="10">10</nb-option>
          </nb-select>
        </div>
      
        <div class="col-3">
          <label class="label">Menor esforço:*</label>
          <nb-select fullWidth selected="1" placeholder="Tipo" [formControl]="menorEsforco" [status]='getStatus(menorEsforco)'>
            <nb-option value="1">1</nb-option>
            <nb-option value="2">2</nb-option>
            <nb-option value="3">3</nb-option>
            <nb-option value="4">4</nb-option>
            <nb-option value="5">5</nb-option>
            <nb-option value="6">6</nb-option>
            <nb-option value="7">7</nb-option>
            <nb-option value="8">8</nb-option>
            <nb-option value="9">9</nb-option>
            <nb-option value="10">10</nb-option>
          </nb-select>
        </div>

        <div class="col-3">
          <label class="label">Data de validade (Inicio):*</label>
          <input nbInput fullWidth [nbDatepicker]="inicioPicker" placeholder="Inicio" [formControl]="dataInicio" [status]='getStatus(dataInicio)'>
          <nb-datepicker #inicioPicker></nb-datepicker>
        </div>
        
        <div class="col-3">
          <label class="label">Data de validade (Final):*</label>
          <input nbInput fullWidth [nbDatepicker]="finalPicker"  placeholder="Fim" [formControl]="dataFinal" [status]='getStatus(dataFinal)'>
          <nb-datepicker #finalPicker></nb-datepicker>
        </div>
      </div>

      <div class="row pb-3">
        
        <div class="col-xl-3 col-md-3 col-12">
          <label class="label">Adicionar produto:*</label>
          <button type="button"  nbButton outline fullWidth status="basic" (click)="adicionarProduto()">Adicionar Produto</button>
        </div>

        <div class="col-12" *ngFor="let control of produtos.controls; index as i">
          <label class="label">Produto:*</label>
        
          <nb-form-field>
           
            <input type="text" nbInput fullWidth placeholder="Produto" [formControl]="produtos.controls[i]" [status]='getStatus(produtos.controls[i])'>
            <button nbSuffix nbButton ghost (click)="removerProduto(i)">
              <nb-icon [icon]="'trash-2-outline'" pack="eva">
              </nb-icon>
            </button>
          </nb-form-field>
        
        </div>

      </div>

      <div class="row pb-3">

        <div class="col-xl-3 col-md-6 col-12">
          <label class="label">Operador:*</label>
          <nb-select fullWidth selected="1" placeholder="Tipo" [compareWith]="compareById"  [formControl]="operador" [status]='getStatus(operador)'>
            <nb-option *ngFor="let op of sqlOperations" [value]=op>{{op.title}}</nb-option>
          </nb-select>

        </div>
    
        <div class="col-xl-3 col-md-6 col-12">
          <label class="label">NCM:</label>
          <input type="text" nbInput fullWidth placeholder="NCM"  [formControl]="ncm" [status]='getStatus(ncm)'>
        </div>

        <div class="col-xl-3 col-md-6 col-12">
          <label class="label">Valor:*</label>
          <input type="text" nbInput fullWidth placeholder="Valor"  [formControl]="valor" [status]='getStatus(valor)'>
        </div>
        
        <div class="col-xl-3 col-md-6 col-12">
          <label class="label">Percurso:*</label>
          <input type="text" nbInput fullWidth placeholder="Percurso"  [formControl]="percurso" [status]='getStatus(percurso)'>
        </div>

      </div>
      
      <hr/>

      <div class="row pb-3" >
        <div class="col-4">
          <button type="button" nbButton outline fullWidth status="basic" (click)="voltar()">Voltar</button>
        </div>
        <div class="offset-4 col-4">
          <button type="submit" nbButton outline fullWidth status="success">Adicionar</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
