
<nb-card>
  <nb-card-body>
    <table class="table table-hover ">


      <tbody>
        <tr>
          <td class="align-middle"><b>Latitude</b></td>
          <td class="align-middle">{{data?.latitude}}</td>
        </tr>
        
        <tr>
          <td class="align-middle"><b>Longitude</b></td>
          <td class="align-middle">{{data?.longitude}}</td>
        </tr>
    
        <tr>
          <td class="align-middle"><b>Faixas</b></td>
          <td class="align-middle">{{data?.faixas}}</td>
        </tr>
    
        <tr>
          <td class="align-middle"><b>Registro</b></td>
          <td class="align-middle">{{data?.dataHoraInsercao}}</td>
        </tr>

      </tbody>
    </table>
    <hr>

    <table class="table table-hover ">

      <tbody>
        
        <tr>
          <td class="align-middle"><img src="assets/icon/circle/red-circle.svg" alt="..." class="rounded-circle"></td>
          <td class="align-middle"><b>4 Alertas Ativos</b></td>
        </tr>

        <tr>
          <td class="align-middle"><img src="assets/icon/circle/black-circle.svg" alt="..." class="rounded-circle"></td>
          <td class="align-middle"> Nenhum alerta ativo</td>
        </tr>
    
        <tr>
          <td class="align-middle"><img src="assets/icon/circle/yellow-circle.svg" alt="..." class="rounded-circle"></td>
          <td class="align-middle">Nenhum alerta ativo</td>
        </tr>

      </tbody>
    </table>

  </nb-card-body>



  <nb-card-footer>
    <button nbButton outline (click)="dismiss()" fullWidth status="primary">Voltar</button>
  </nb-card-footer>

</nb-card>